<h1>All users' bikes:</h1>
<br>

<% @users.each do |user| %>
  <% cache user do %>
    <p>
      User's info: <%= user.inspect %>
    </p>

    <% user.bikes.each do |bike| %>
      <% cache bike do %>
        <p>
          <%= bike.inspect %>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>