<h1>I am using page caching for this page</h1>
<h2>The request won't hit rails server. The cached file will be stored in the public folder</h2>
<h3>The cached file will be serverd by the web server(Nginx)</h3>